{{ partial "header.html" . }}

{{ partial "sidebar.html" . }}

{{ partial "content_header.html" . }}

<div id="content" class="content-site customize-site">
    <div class="d-flex flex-fill">
        <h1 class="text-gray text-lg mb-4">
            <i class="site-tag iconfont icon-tag icon-lg mr-1"></i>
            分类: {{ .Title }}
        </h1>
    </div>

    <div class="row">
        {{ range .Pages }}
        <div class="url-card col-6 col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <a href="{{ .Permalink }}" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                    title="{{ .Params.description }}">
                    <div class="card-body">
                        <div class="url-content d-flex align-items-center">
                            <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                {{ if .Params.logo }}
                                <img class="lazy" src="{{ .Params.logo }}" alt="{{ .Title }}"
                                    onerror="javascript:this.src='{{ $.Site.Params.defaultLogo }}'">
                                {{ else }}
                                <img class="lazy" src="{{ $.Site.Params.defaultLogo }}" alt="{{ .Title }}">
                                {{ end }}
                            </div>
                            <div class="url-info flex-fill">
                                <div class="text-sm overflowClip_1">
                                    <strong>{{ .Title }}</strong>
                                </div>
                                <p class="overflowClip_1 m-0 text-muted text-xs">{{ .Params.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ .Params.sitelink }}" target="_blank" class="togo text-center text-muted is-views"
                    data-toggle="tooltip" data-placement="right" title="直达跳转" rel="nofollow">
                    <i class="iconfont icon-goto"></i>
                </a>
            </div>
        </div>
        {{ end }}
    </div>

</div>

{{ partial "content_footer.html" . }}

{{ partial "footer.html" . }}